.fav-movie {
  margin-bottom: 15px;
  justify-content: center;
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 100%;

    img {
      margin: auto;
      height: 300px;
      justify-self: center;
    }
    figcaption {
      color: #ffffff;
    }
  }
  button.btn {
    display: block;
    margin: auto;
  }
}
.card {
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}
label {
  color: #ffffff;
}
.user-info {
  background-color: #212529;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.form-control {
  color: #030303;
  background-color: #ffffff;
}
.form-control:focus {
  background-color: #ffffff;
  color: #000000;
}
.btn {
  background-color: #7c5252;
  border-color: #ceaeae;
  border-width: 1px;
  margin-top: 12px;
}
