.fav-movie {
  margin-bottom: 15px;
  justify-content: center;
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    justify-content: center;
    width: 100%;

    img {
      margin: auto;
      height: 500px;
      width:100%;

    }
    figcaption {
      color: #000000;
      text-align: center;
    }
  }
  button.btn {
    display: block;
    margin: auto;
    background-color: #212529;
  }
}
.card {
  margin-bottom: 15px;
}

.profile {
  color: #ffffff;
}
label {
  color: #ffffff;
}
p{
  color: #ffffff;

}
.user-info {
  background-color: #212529;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.form-control {
  background-color: #ffffff !important ;
}
.form-control:focus {
  color: #000000 !important;
}
.btn {
  background-color: #7c5252;
  border-color: #ceaeae;
  border-width: 1px;
  margin-top: 12px;
}

